@import './reset.css';
@import './var.css';
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 40;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    
}
.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.header__logo{
    
}
.header__burger{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
}
.header__burger span{
    position: absolute;
    left: 0;
    width: 100%;
}
.header__burger span i{
    color: var(--btn-color);
}

.header__menu{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}
.header__list{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    
}
.header__list li{
    list-style: none;
    margin: 0 0 0 30px;
}
.header__link{

}
.second-main-color{
    color: var(--second-main-color);
}
.third-main-color{
    color: var(--third-main-color);
}
.launching{
    padding: 100px 0 60px 0;
}
.launching .flex{
    display: flex;

}
.launching .text{
    flex-basis: 70%;
    line-height: 1.5;
}
.launching .text h4{
    color: var(--third-main-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 14px;
}
.launching .text h1{
    color: var(--main-color);
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 20px;
}
.launching .text p{
    color: var(--second-main-color);
    font-size: 16px;
}
.text .second-btn{
    margin-top: 20px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 40px 20px 40px;
    background-color: #fff;
    border-top: 3px solid var(--orange-color);
    border-bottom: 3px solid var(--orange-color);
    border-right: 3px solid var(--green-color);
    border-left: 3px solid var(--red-color);
}
.text .second-btn:hover{
    background-color: var(--third-main-color);
    border-color: var(--red-color);
}
.launching .graphic{
    flex-basis: 30%;
    background: url(../assets/graphic.svg);
    background-size: 50vw 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.background{
    background-image: url(../assets/background.svg);
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 40px;
}
.background h1, .title-text h1{
    font-size: 30px;
    font-weight: 600;
}
.background p, .title-text p{
    font-size: 16px;
    color: var(--main-color);
    line-height: 1.5;
}
.press{
    padding: 60px 0 60px 0;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}
.icons-flex{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon1-mobile, .icon3 {
    padding-right: 40px;
}
.icon1,  .icon4{
    display: none;
}
.title-text p{
    color: var(--second-main-color);
}
.title-text >p> a{
    text-decoration: underline;
    font-weight: 600;
}
.auction{
    padding-bottom: 100px;
    border-bottom: 2px var(--grey-darker-color);
}
.cards{
    display: flex;
    /* flex-wrap: wrap; */
}
.card{
    display: flex;
    justify-content: center;
    gap: 20px;
    /* flex-wrap: wrap; */
}
.card-box{
    /* flex-grow: 1; */
}
.card-img-1, .card-img-2, .card-img-3, .card-img-4{
   vertical-align: middle;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   height: 307px;
}
.card-img-1{
    background-image: url(../assets/ntfs/ntf-1.svg);
}
.card-img-2{
    background-image: url(../assets/ntfs/nft-2.svg);
}
.card-img-3{
    background-image: url(../assets/ntfs/ntf-3.svg);
}
.card-img-4{
    background-image: url(../assets/ntfs/ntf-4.svg);
}
.card-content{
    background-color: var(--grey-light-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.series-bid, .man, .days{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}
.series-bid span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}
.series-bid > .orange-span{
    color: var(--orange-color);
}
.series-bid > .grey-span{
    color: var(--grey-darker-color);
}
.man {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
}
.man img{
    vertical-align: middle;
}
.days{
    font-size: 16px;
    color: var(--grey-darker-color);
}
@media screen and (min-width:769px) {
    .header__menu{
        display:block;
        top: 25%;
        bottom: 25%;
    }
    .header__burger{
       display: none;
    }
    .launching .text{
        flex-basis: 50%;
    }
    .launching .graphic{
        flex-basis: 50%;
    } 
}