@import './reset.css';
@import './var.css';
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 40;
    background-color: #fff;
    padding: 20px 0 20px 0;
}
.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.header__logo{
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
}
.header__logo:hover{
    background-color: var(--third-main-color);
    transition: all 0.3s ease-in-out;
}
.header__burger{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.header__burger span{
    position: absolute;
    left: 0;
    width: 100%;
}
.header__burger span i{
    color: var(--btn-color);
}

.header__menu{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}
.header__list{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    
}
.header__list li{
    list-style: none;
    margin: 0 0 0 30px;
}
.header__link{
    padding: 20px;
    border-radius: 40px;
}
.second-main-color{
    color: var(--second-main-color);
}
.third-main-color{
    color: var(--third-main-color);
}
.second-main-color:hover{
    background-color: var(--third-main-color);
    color: white;
    transition: all 0.3s ease-in-out;
}
.third-main-color:hover{
    background-color: var(--main-color);
    color: white;
}

.launching{
    padding: 100px 0 40px 0;
}
.launching .flex{
    display: flex;
}
.launching .text{
    flex-basis: 70%;
    line-height: 1.5;
}
.launching .text h4{
    color: var(--third-main-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 14px;
}
.launching .text h1{
    color: var(--main-color);
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 20px;
}
.launching .text p{
    color: var(--second-main-color);
    font-size: 16px;
}
.text .second-btn{
    margin-top: 20px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 40px 20px 40px;
    background-color: #fff;
    border: none;
    border-top: 3px solid var(--orange-color);
    border-bottom: 3px solid var(--orange-color);
    border-right: 3px solid var(--green-color);
    border-left: 3px solid var(--red-color);
    margin-bottom: 60px;
}
.text .second-btn:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: #fff;
}
.launching .graphic-1{
    flex-basis: 30%;
    background: url(../assets/graphic.svg);
    background-size: 50vw 100%; 
    background-repeat: no-repeat;
    background-position: 0 0;

}
#background .container{
    padding: 0 !important;
}
.background{
    background-image: url(../assets/background.svg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: center;
    padding: 80px 20px 20px 20px;
}
.background h1, .title-text h1{
    font-size: 30px;
    font-weight: 500;
}
.background p, .title-text p{
    font-size: 16px;
    color: var(--main-color);
    line-height: 1.5;
}
.press{
    padding: 60px 0 80px 0;
}
.icons__flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.icon{
    width: 45%;
    height: auto;
    position: relative;
    padding: 5px;
    text-align: center;
    overflow: hidden;
}
.icon img{
    height: 47px !important;
}
.icons__flex > .none{
    display: none;
}
.auction{
    padding-bottom: 80px;
    overflow: hidden;
}
.title-text p{
    color: var(--second-main-color);
}
.title-text >p> a{
    text-decoration: underline;
    font-weight: 600;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    overflow: hidden;
    padding-left: calc(100%-900px);
}
.cards > .left{
    flex-shrink: 0;
    min-height: 290px;
}
.cards > .right{
    min-height: 290px;
    display: -webkit-inline-box;
    gap: 20px;
}
.card__img{
    max-width: 100%;
    height: auto;
}
.card__content{
    background-color: var(--grey-light-color);
    padding: 15px;
    top: -3px;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-width: 290px;
}
.card__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    line-height: 2;
    align-self: center;
    justify-content: space-between;
}
.card__content > .small-text{
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 500;
}
.small-text > .orange{
    color: var(--orange-color);
}
.small-text > .grey{
    color: var(--grey-darker-color);
}
.small-text > .right{
    text-align: end;
}
.card__content > .main{
    color: var(--main-color);
    font-size: 12px;
    font-weight: 700;
}
.main > .right{
    text-align: end;
}
.main > .right img{
    vertical-align: middle;
    padding-right: 6px;
}
.card__content > .bottom{
    font-size: 9px;
    color: var(--grey-darker-color);
    
}
.bottom > .right{
    text-align: end;
}
.launching .graphic-2{
    flex-basis: 30%;
    background: url(../assets/upsell-footer-image.svg);
    background-size: 50vw 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.border {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.top {
    padding-top: 80px;
    border-bottom: 2px solid var(--grey-light-color);
    border-top: 2px solid var(--grey-light-color);
    bottom: -5px;
    position: relative;
}
.top > .text h1{
    border-bottom: 2px solid var(--grey-light-color);
}
#footer{
    padding-top: 80px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    color: var(--second-main-color);
    column-gap: 30px;
    justify-content: safe;
    font-size: 16px;
}
.footer__one{
    position: relative;
    width: 100%;
    padding-bottom: 60px;
}
.footer__text{
    margin-top: 16px !important;
}
.footer__icons{
    color: var(--btn-color);
}
.footer__icons a{
    padding-right: 10px;
}
.footer__icons a:hover{
    color: var(--third-main-color);
}
.nav{
    position: relative;
    width: 30%;
    padding-bottom: 10px;
}

.nav h5{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.nav ul{
    line-height: 2;
    list-style: none;
    padding-left: 0;
}
.nav a:hover{
    color: var(--third-main-color);
}
.footer__end{
    color: var(--btn-color);
    font-size: 14px;
    padding: 40px 0 20px 0;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
}
.end{
    display: none;
    padding: 0 30px 0 30px;
}
@media screen and (min-width:769px) {
    .header__menu{
        display:block;
        top: 25%;
        bottom: 25%;
    }
    .header__burger{
       display: none;
    }
    .launching .text{
        flex-basis: 50%;
    }
    .launching .text p {
        max-width: 450px;
    }
    .launching .text h1{
        max-width: 600px;
    }
    .launching .large h1{
        font-size: 80px;
    }
    .launching .graphic-1, .launching .graphic-2{
        flex-basis: 50%;
    }
    .background{
        border-radius: 10px;
    }
    .icon{
        width: 18%;
    }
    .icons__flex > .none{
        display: block;
    }
    .cards{
        overflow: visible;
        gap: 66px;
    }
    .cards > .right{
        gap: 66px;
    }
    .launching .middle h1{
        font-size: 48px;
    }
    #background .container{
        padding: 20px !important;
    }
    .footer{
        justify-content: space-between;
    }
    .footer__one{
        width: 45%;
    }
    .nav{
        width: 10%;
    }
    .end{
        display: inline-block;
    }
}