* {
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
}
  
a {
    text-decoration: none;
    color: inherit;
}
button, input, a {
    cursor: pointer;
}
img {
    max-width: 100%;
}
  
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}
/* .wrapper{
    margin: 10px 20px 10px 20px;
} */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}
.container-2 {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 0 0 20px;
}