:root{
    --main-color: #111111;
    --second-main-color: #555555;
    --third-main-color: #FF3998;
    --btn-color: #999999;
    --orange-color: #FF8139;
    --green-color: #39FFA0;
    --red-color: #FF3939;

}