:root{
    --main-color: #111111;
    --second-main-color: #555555;
    --third-main-color: #ff3998;
    --btn-color: #999999;
    --orange-color: #FF8139;
    --green-color: #39ffa0;
    --red-color: #ff3939;
    --grey-light-color: #eeeeee;
    --grey-darker-color: #777777;
}